replicaCount: 1

image:
  repository: "{{ .Values.ciRepository }}"
  pullPolicy: IfNotPresent
  tag: "{{ .Values.ciTag }}"

service:
  type: ClusterIP
  externalPort: 80
  internalPort: 3000
  probePath: /api/v1

ingress:
  enabled: true
  annotations: 
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/proxy-body-size: 50m
    nginx.ingress.kubernetes.io/proxy-buffer-size: 8k
  hosts:
    - host: "{{ .Values.host }}"
      paths: 
        - path: /api
          pathType: Prefix
  tls:
    - hosts:
      - "{{ .Values.host }}"
      secretName: "scilog-certificate"

volumes:
  - name: secrets-volume
    secret:
      secretName: "{{ .Release.Name }}-s"

secrets: 
  "{{ .Release.Name }}-s":
    type: Opaque
    data: 
      datasource.json: "{{ .Values.secretsJson.DATASOURCE }}"
      oidc.json: "{{ .Values.secretsJson.OIDC }}"
      functionalAccounts.json: "{{ .Values.secretsJson.FUNCTIONAL_ACCOUNTS }}"
      jwt_secret: "{{ .Values.secretsJson.JWT_SECRET }}"
      session_secret: "{{ .Values.secretsJson.SESSION_SECRET }}"

env:
  - name: BASE_PATH
    value: /api/v1
  - name: JWT_ACCESS_TOKEN_EXPIRES_IN
    value: '1.21e+6'
  - name: JWT_SECRET
    valueFrom:
      secretKeyRef: 
        name: "{{ .Release.Name }}-s"
        key: jwt_secret
  - name: DEBUG
    value: '{{ default "" .Values.debug }}'
  - name: CHROME_BIN
    value : /usr/bin/chromium
  - name: SESSION_STORE_BUILDER
    value : '{{ default "" .Values.sessionStoreBuilder }}'
  - name: SESSION_SECRET
    valueFrom:
      secretKeyRef: 
        name: "{{ .Release.Name }}-s"
        key: session_secret

volumeMounts:
  - name: secrets-volume
    mountPath: /home/node/app/datasource.json
    subPath: datasource.json
  - name: secrets-volume
    mountPath: /home/node/app/oidc.json
    subPath: oidc.json
  - name: secrets-volume
    mountPath: /home/node/app/functionalAccounts.json
    subPath: functionalAccounts.json

probeChecks:
  periodSeconds: 20
  timeoutSeconds: 5
  failureThreshold: 5 
